workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

include:
  - template: Security/SAST.gitlab-ci.yml

stages:
  - security
  - test

markdown_lint:
  stage: lint
  image: ghcr.io/igorshubovych/markdownlint-cli:latest
  allow_failure: true
  rules:
    - changes:
        - "**/*.md"
  script:
    - markdownlint .
