workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

stages:
  - test
  - lint

include:
  - template: Security/SAST.gitlab-ci.yml

sast:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

markdownlint:
  stage: lint
  image:
    name: registry.gitlab.com/06kellyjac/docker_markdownlint-cli:0.28.1-alpine
    entrypoint:
      - "/usr/bin/env"
      - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  before_script:
    - markdownlint --version
  allow_failure: true
  rules:
    - changes:
        - "**/*.md"
  script:
    - markdownlint .
