USER-SUPPLIED VALUES:
deployment:
  podAnnotations:
    prometheus.io/port: "8082"
    prometheus.io/scrape: "true"
global:
  systemDefaultRegistry: ""
image:
  registry: docker.io
  repository: traefik
  tag: 3.6.6
priorityClassName: system-cluster-critical
providers:
  kubernetesIngress:
    publishedService:
      enabled: true
service:
  ipFamilyPolicy: PreferDualStack
tolerations:
  - key: CriticalAddonsOnly
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
    operator: Exists
additionalArguments:
  - "--entrypoints.web.transport.respondingtimeouts.readtimeout=600s"
  - "--entrypoints.web.transport.respondingtimeouts.writetimeout=600s"
  - "--entrypoints.web.transport.respondingtimeouts.idletimeout=600s"
  - "--entrypoints.websecure.transport.respondingtimeouts.readtimeout=600s"
  - "--entrypoints.websecure.transport.respondingtimeouts.writetimeout=600s"
  - "--entrypoints.websecure.transport.respondingtimeouts.idletimeout=600s"
