replicaCount: 1
namespace: media

deployment:
  labels:
    app: qbittorrent
  containerPort: 8080
  image:
    repository: linuxserver/qbittorrent
    tag: latest
    pullPolicy: Always

qbittorrentImage:
  repository: linuxserver/qbittorrent
  tag: latest
  pullPolicy: Always

wireguardImage:
  repository: linuxserver/wireguard
  tag: latest
  pullPolicy: Always

service:
  name: qbittorrent-service
  type: ClusterIP
  port: 8080
  wireguardPort: 51820

ingress:
  name: qbittorrent-ingress
  host: placeholder
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: "acme-issuer"

persistence:
  config:
    enabled: true
    name: qbittorrent-config-pvc
    accessMode: ReadWriteOnce
    size: 1Gi
    storageClass: longhorn
  downloads:
    enabled: true
    existingClaim: media-nfs-pvc
  configMap:
    enabled: true
    name: wireguard-config

config:
  puid: 1000
  pgid: 1000
  timezone: Europe/Helsinki
  umask: 022
  webuiPort: 8080

wireguard:
  address: "${WIREGUARD_IP}"
  privateKey: "${WIREGUARD_PRIVATE_KEY}"
  mtu: 1329
  dns: "${WIREGUARD_DNS}"
  listenPort: 51820
  peerPublicKey: "${WIREGUARD_PEER_PUBLIC_KEY}"
  presharedKey: "${WIREGUARD_PRESHARED_KEY}"
  endpoint: "${WIREGUARD_ENDPOINT}"
  allowedIPs: 0.0.0.0/0
  persistentKeepalive: 15
